body {

	.row {
		border: 2px solid black;

		.col-md-6 {
			border: 1px solid black;
			margin: 0 auto;
			height: 200px;
			float: none;
			overflow: auto;
			#slider {
				list-style-type: none;
			}
		}

	}
}

.visible {
	display: block;
}